<div class="row-fluid">
	<a href="/"><span id="contentlogo"><%= image_tag 'logo.png' %></span></a>
</div>

<div class="row-fluid">
	<!--<h3 id="tagline">Don't search, ask your friends.</h3>-->
	<textarea id="question" class="span2" placeholder="Type your question here. Use hashtags to mark #important #keywords."></textarea>
	<input type="hidden" id="tags" value="."/>
</div>

<div class="row-fluid">
    <div id="location-container" class="input-prepend input-append">
    	<p>Location:</p>	
		<input class="location" id="location" size="16" type="text" placeholder="Friend's current city." />
		<span id="location-icon" class="add-on"><a class="location" href="#"><%= image_tag 'location.png' %></a></span>
    </div>
</div>

<div class="row-fluid">
	<div id="spinner"></div>
	<div id="facepile"></div>	
</div>

<div class="row-fluid">
	<div class="span12"><button id="ask" class="btn btn-primary">Ask These Friends</button></div>
</div>
