#logo {
	
}

#question {
	width:100%;
	resize:none;
}

.content {
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
}

#ask {
	width:100%;
	font-weight: bold;
}

#location {
	margin-top: 10px;
	width: 80%;
}



.input-append .add-on, .input-prepend .add-on{
		margin-bottom: -1px;
}


#close-icon {
	background-color: white;
	border-left: none;
	
	-webkit-box-shadow: inset 0 1px 1px 
	rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px 
	rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow;


	a {
		float:left;
	}


}

#facepile {
	margin-top:10px;
	height:200px;
}


.dummyfriend {
	height: 50px;
	width: 50px;
	display:inline-block;
	background-color: #CCC;
	
}

.half {
	width:50%;
	display:inline;
}

footer {
	position: absolute;
	bottom: 0px;
	left:0px;
	width: 100%;
	padding:0px 0px;
}


#footernav{
	height: 50px;
	background-color: black;
	color: white;
}